#Home {
  width: 100vw;
  min-height: calc(100vh - 52px);
}

#Home .decorations {
  /* position: absolute;
  top: -25vh;
  left: 45vh; */
  z-index: -1;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #Home .decorations {
    display: none;
  }
}
