#Footer {
  min-height: 5rem;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Footer .colorWhite {
  color: white !important;
}